<div class="main dash-welcome" ng-cloak>
    <div class="row" ost-header></div>

    <div class="main-content">
        <div class="row">
            <h2>{{page_title}}</h2>
            <h3>What is this dashboard?</h3>
            <p>This publicly accessible, interactive dashboard was developed to explore the results of the Central Coast Monitoring Survey. Use the buttons in the sidebar menu on the left to learn more about the Central Coast monitoring community and the data that they collect.</p>

            <h3>What is the Central Coast Monitoring Survey? And what is all of this for?</h3>
            <p>A network of Marine Protected Areas (MPAs) has been implemented in California state waters under the Marine Life Protection Act. Monitoring to evaluate the performance of the MPAs is a key element in implementing and managing the statewide MPA network, and in developing an understanding of ocean health in California.</p>

            <p>California Ocean Science Trust, the California Department of Fish and Wildlife, and the California Ocean Protection Council are engaged in a collaborative effort to plan and implement long-term MPA monitoring in the Central Coast region of California, which extends from Pigeon Point to Point Conception.</p>

            <p>The Central Coast Monitoring Survey represents a key step in the monitoring planning effort. The survey was designed to identify the geographic and temporal coverage of monitoring activities inside and outside of Central Coast MPAs, and the compatibility of those activities with the metrics outlined in the draft <a href="http://oceanspaces.org/sites/default/files/regions/files/draft-centralcoast-monitoring-plan_0.pdf">Central Coast MPA Monitoring Plan</a>.</p>

            <h3>Where do these data come from?</h3>
            <p>Responses to the Central Coast Monitoring Survey form the data used to develop the tables, maps, and figures in this dashboard. Please note that the survey responses included in this dashboard have not been independently verified. The count of monitoring sites displayed in the sidebar was calculated as the total number of point locations and 1-nautical mile grid cells mapped by survey participants.</p>

            <h3>Additional Resources:</h3>
            <p>For more information about the Central Coast Monitoring Survey and the Central Coast monitoring planning process, please visit the <a href="http://oceanspaces.org/monitoring/regions/central-coast/planning">Central Coast region page on OceanSpaces.org</a>.</p>

            <p>We are always interested in ways to improve our work, and we welcome your feedback! If you have questions or comments about this dashboard, please share them with us by emailing <a href="mailto:benet.duncan@calost.org">benet.duncan@calost.org</a>.</p>

            <p>This dashboard was developed by <a href="http://www.pointnineseven.com/">Point97</a>, an Ecotrust company.</p>
            <h1><br /><br /></h1>
        </div>
    </div> <!-- End main content -->
</div>
<div ng-include="'/static/survey/views/ost/dash-footer.html'"></div>