<table id="report-table" class="table" >
    <thead>
    <tr>
        <th class="orderable" ng-click="setOrderBy('project_name');" >Project Name
            <span class="glyphicon" 
                  ng-class="{'glyphicon-sort-by-alphabet':orderBy === 'project_name', 
                             'glyphicon-sort-by-alphabet-alt':orderBy === '-project_name',
                             'glyphicon-sort':orderBy !== 'project_name'
                             }">
            </span>
        </th>
        
        <th class="orderable" ng-click="setOrderBy('organization_name');">Organization Name 
            <span class="glyphicon" 
                  ng-class="{'glyphicon-sort-by-alphabet':orderBy === 'organization_name', 
                             'glyphicon-sort-by-alphabet-alt':orderBy === '-organization_name',
                             'glyphicon-sort':orderBy !== 'organization_name'
                             }">
            </span>
        </th>
        <th>Ecosystem Features</th>
        <th class="orderable" ng-click="setOrderBy('duration');" >Project Duration 
            <span class="glyphicon" 
                  ng-class="{'glyphicon-sort-by-alphabet':orderBy === 'duration',
                             'glyphicon-sort-by-alphabet-alt':orderBy === '-duration',
                             'glyphicon-sort':orderBy !== 'duration'
                             }">
            </span>
        </th>
        <th class="orderable" ng-click="setOrderBy('frequency');" >Sampling Frequency (times per year)
            <span class="glyphicon" 
                  ng-class="{'glyphicon-sort-by-alphabet':orderBy === 'frequency',
                             'glyphicon-sort-by-alphabet-alt':orderBy === '-frequency',
                             'glyphicon-sort':orderBy !== 'frequency '
                             }">
            </span>
        </th>

        <th ng-if='options.user.username' class="orderable" ng-click="setOrderBy('complete');" >Complete
            <span class="glyphicon" 
                  ng-class="{'glyphicon-sort-by-alphabet':orderBy === 'complete',
                             'glyphicon-sort-by-alphabet-alt':orderBy === '-complete',
                             'glyphicon-sort':orderBy !== 'complete'
                             }">
            </span>
        </th>

        <th ng-if='options.user.username' class="orderable" ng-click="setOrderBy('last_question');" >Last Question
            <span class="glyphicon" 
                  ng-class="{'glyphicon-sort-by-alphabet':orderBy === 'last_question',
                             'glyphicon-sort-by-alphabet-alt':orderBy === '-last_question',
                             'glyphicon-sort':orderBy !== 'last_question '
                             }">
            </span>
        </th>


    </tr>
    </thead>
    <tbody>
    <tr class='respondent' ng-repeat="respondent in respondents | orderBy:orderBy" ng-click='showRespondent(respondent)'>
        <td>{{ respondent.project_name }}</td>
        <td>{{ respondent.organization_name }}</td> <!-- link if availble? -->
        <!-- <td>{{ respondent.ecosystem_features }}</td> -->
        <td>
            <ul class="table-ef-list">
                <li ng-repeat="(slug, label) in respondent.parsed_ecosystem_features"><span class="point" ng-style="{'color': ecosystemSlugToColor(slug)}">●</span> {{label}}</li>
            </ul>
        </td>
        <td>{{ respondent.duration }}</td>
        <td>{{ respondent.frequency }}</td>
        <td ng-if='options.user.username'>{{ respondent.complete }}</td>
        <td ng-if='options.user.username'>{{ respondent.last_question }}</td>

    </tr>
    </tbody>
</table>


<div ng-show="options.limit > 0">
  <div class="pull-left">
      Showing {{ results_from }} - {{ results_to }} of {{ meta.total_count }}
  </div>
  <div class="pull-right" >
      <div pagination 
          total-items="meta.total_count" 
          items-per-page="options.limit" 
          max-size="8" 
          page="currentPage"
          previous-text="&lsaquo;" 
          next-text="&rsaquo;" 
          first-text="&laquo;" 
          last-text="&raquo;" 
          on-select-page="goToPage(page)">
      </div>
  </div>
</div>