<div class="row">
    
    <div class="col-xs-12 col-sm-12">

        <div class="answer">
            <strong>Number of sites in the Central Coast region: </strong>
            <span>{{ getAnswer('proj-num-sites') }}</span>
        </div>

        <div class="answer">
            <strong>Years of data collection: </strong>
            <span>{{ getAnswer('proj-data-years') }}</span>
        </div>

        <div class="answer">
            <strong>Number of times per year data is collected at a typical site: </strong>
            <span>{{ getAnswer('proj-data-frequency') }}</span>
        </div>

        <div class="answer">
            <strong>Number of data collectors over the last year (2013-2014): </strong>
            <span>{{ getAnswer('proj-num-people') }}</span>
        </div>

    </div>
</div>